global
	ulimit-n  51200
defaults
	log global
	mode    tcp
	option  dontlognull
	timeout connect 1000ms
	timeout client 10000ms
	timeout server 10000ms

frontend usa104-in
	bind *:8085
	default_backend usa104-out

backend usa104-out
	server server1 104.224.136.34:994 maxconn 1024

frontend jp133-in
  bind *:8087
  default_backend jp133-out

backend jp133-out
  server server1 133.130.119.25:443 maxconn 1024

frontend usa172-in
	bind *:8086
	default_backend usa172-out

backend usa172-out
	server server1 172.93.62.125:994 maxconn 1024
	server server2 172.93.62.126:994 maxconn 1024
